<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="springTask" class="com.springtask.crontask"/>

    <task:scheduled-tasks>
        <task:scheduled ref="springTask" method="excute1" cron="*/1 * * * * ?"/>
        <task:scheduled ref="springTask" method="excute2" cron="*/2 * * * * ?"/>
    </task:scheduled-tasks>
</beans>